body
    background #fff


.display-block
    display block



.display-inline-block
    display inline-block


.hide
    display none


.border-radius-none
    border-radius 0 !important


.cursor-pointer
    cursor pointer

.link
    &_pseudo
        cursor pointer
        border-bottom 1px dotted currentColor

        &:hover
            text-decoration none
