addDefaultCharset UTF-8

php_flag output_buffering on

<FilesMatch ".(htaccess|htpasswd|ini|txt|json)$">
 Order Allow,Deny
 Deny from all
 </FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]

RewriteRule .* index.php