<!DOCTYPE html>
<html>
<head>
    <title>Peach Framework</title>
    <link rel="stylesheet" href="index.php?task=get_css"/>
</head>
<body>
    <h1>Peach Framework</h1>
    <h2>:use_db:</h2>
    <div class=":content_class:">
        <p>:users:</p>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>id</th>
                <th>:login:</th>
                <th>:password:</th>
                <th>:credentials:</th>
                <th>:remember hash:</th>
            </tr>
            :users_trs:
        </table>
    </div>
</body>
</html>