<!DOCTYPE html>
<html>
<head>
    <title>Peach Framework</title>
    <link rel="stylesheet" href="index.php?task=get_css"/>
</head>
<body>
    <h1>Peach Framework</h1>
    {if $use_db_param}
    <h2>{$use_db}</h2>
    <p>{$users}</p>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>id</th>
                <th>{$login}</th>
                <th>{$password}</th>
                <th>{$credentials}</th>
                <th>{$remember_hash}</th>
            </tr>
            {foreach $users_array as $user}
                <tr>
                    <td>{$user.id}</td>
                    <td>{$user.login}</td>
                    <td>{$user.password}</td>
                    <td>{$user.credentials}</td>
                    <td>{$user.remember_hash}</td>
                </tr>
            {/foreach}
        </table>   
    {else}
    <h2>use db param is false</h2>
    {/if}
</body>
</html>