<nav id="navbar" class="navbar navbar-inverse border-radius-none">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{$lang_vars.admin_panel}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="link link--external" href="/">{$lang_vars.site}</a>
                </li>
                <li>
                    <a id="logout"
                       data-action="/action/logout"
                       data-redirect="/admin_panel/login"
                       class="cursor-pointer">
                        {$lang_vars.logout}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>