<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>{$lang_vars.login}</th>
            <th>{$lang_vars.password}</th>
            <th>{$lang_vars.credentials}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {foreach $users as $index=>$user}
            <tr>
                <td>{$index+1}</td>
                <td>{$user->login}</td>
                <td>{$user->password}</td>
                <td>{$lang_vars.credentials_labels[$user->credentials]}</td>
                <td width="30">
                    {if $is_super_admin}
                        <a href="/admin_panel/edit_user/{$user->id}">{$lang_vars.edit}</a>
                    {/if}
                </td>
            </tr>
        {/foreach}
    </tbody>
</table>
{if $is_super_admin}
    <a class="btn btn-primary" href="/admin_panel/add_user">{$lang_vars.add_user}</a>
{/if}