{if $user|@count}
    <form id="edit-user-form">
        <input name="id" type="hidden" value="{$user['id']}"/>
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="login">{$login}</label>
                    <input value="{$user['login']}" id="login" name="login" class="form-control" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="password">{$password}</label>
                    <input value="{$user['password']}" class="form-control" id="password" name="password" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="credentials">{$credentials}</label>
                    <select name="credentials" id="credentials" class="form-control">
                        {foreach $credentials_labels as $k=>$el}
                        {if $k == $user['credentials']}
                        <option selected value="{$k}">{$el}</option>
                        {else}
                        <option value="{$k}">{$el}</option>
                        {/if}
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="{$save}"/>
                    <button class="btn btn-info">{$cancel}</button>
                </div>
            </div>
        </div>
    </form>
    {else}
        <div class="alert alert-danger">{$user_not_exists}</div>
{/if}
