<!DOCTYPE html>
<html>
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="{$css_path}/main.css"/>
    <link rel="shortcut icon" href="{$images_path}/favicon.ico"/>
</head>
<body>
    {$navbar}
    <div class="container-fluid">
        <div class="row">
            <div id="left_menu" class="col-lg-2 col-lg-offset-1">
                {$left_menu}
            </div>
            <div id="main_content" class="col-lg-7">
                {$main_content}
            </div>
        </div>
    </div>
    <script src="{$js_path}/main.js"></script>
    <script src="{$js_path}/admin_panel_views.js"></script>
</body>
</html>