<!DOCTYPE html>
<html>
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="{$css_path}/starter.css"/>
    <link rel="shortcut icon" href="{$images_path}/favicon.ico"/>
</head>
<body>
    <header data-block="header">
        {$header}
    </header>
    <div class="container-fluid">
        <div class="row">
            <aside data-block="left" class="col-lg-2 col-lg-offset-1">
                {$left}
            </aside>
            <div data-block="main" class="col-lg-7">
                {$main}
            </div>
        </div>
    </div>
    <script src="{$js_path}/admin_panel.js"></script>
</body>
</html>