<!DOCTYPE html>
<html>
<head>
    {$bundle_result.vendor.styles}
    {$bundle_result.starter.styles}

    <script>
        if(!Object.assign) {
            var script = document.createElement('script');
            script.src = 'https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.7/es6-shim.min.js';
            document.head.appendChild(script);
        }
        if(!Object.defineProperty) {
            script = document.createElement('script');
            script.src = 'https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.15/es5-shim.min.js';
            document.head.appendChild(script);
        }
    </script>

    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <title>Starter Template</title>
</head>
<body>
    <nav class="navbar navbar-inverse border-radius-none">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Starter template</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h1>Starter Template</h1>
                <p class="lead">Includes Bootstrap and Backbone libraries</p>
            </div>
        </div>
    </div>

    {$bundle_result.vendor.scripts}
    {$bundle_result.starter.scripts}
</body>
</html>