<!DOCTYPE html>
<html>
<head>
    {$bundle_result.vendor.styles}
    {$bundle_result.starter.styles}

    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <title>Starter Template</title>
</head>
<body>
    <nav class="navbar navbar-inverse border-radius-none">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Starter template</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h1>Starter Template</h1>
                <p class="lead">Includes Bootstrap and Backbone libraries</p>
            </div>
        </div>
    </div>

    {$bundle_result.vendor.scripts}
    {$bundle_result.starter.scripts}
</body>
</html>